@font-face {
  font-family: 'icomoon';
  src:  url('fonts/icomoon.eot?76zo0t');
  src:  url('fonts/icomoon.eot?76zo0t#iefix') format('embedded-opentype'),
    url('fonts/icomoon.ttf?76zo0t') format('truetype'),
    url('fonts/icomoon.woff?76zo0t') format('woff'),
    url('fonts/icomoon.svg?76zo0t#icomoon') format('svg');
  font-weight: normal;
  font-style: normal;
}

[class^="icon-"], [class*=" icon-"] {
  /* use !important to prevent issues with browser extensions that change fonts */
  font-family: 'icomoon' !important;
  speak: none;
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  text-transform: none;
  line-height: 1;

  /* Better Font Rendering =========== */
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.icon-A-01:before {
  content: "\e900";
}
.icon-A-02:before {
  content: "\e901";
}
.icon-A-03:before {
  content: "\e902";
}
